/* 共通項目css */
*{
	margin:0;
	padding:0;
}
body{
	overflow: hidden;
}
a{
	text-decoration: none;
}
/* MENU NAVIGATION */
nav{
	position: fixed;
	top:0;
	left:0;
	height:100vh;
	width:170px;
	background:#FF3333;

}
ul{
	font-size:24px;
	display: table;
	position:absolute;
	bottom:11px;
}
li{
    margin-left: 33px;
    line-height: 20px;
    padding: 5px 0;
}
.logo{
	margin: 0 auto;
	text-align: center;
	font-size:180px;
}
.mainvisual{
	position: fixed;
	right: 0;
	top: 0;
	width: calc(100% - 170px);
	width: -webkit-calc(100% - 170px);
	height: 100vh; 
}
.mainvisual > img{
	width:100%;
	height:100%;
	z-index: -1;
}

.menu{
	display: none;
}

/* CONTENTS */
main > div.contents{
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	overflow-y: scroll;
	width: 730px;
	background-color: #ffffff;
	color: #444444;
	text-shadow: 1px 1px 2px #777777;
}
/* 各SECTION 共通設定 */
main > div.contents > section{
	position: relative;
	width: 100%;
}
main > div.contents > section > img{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
main > div.contents > section > div.content{
	position: relative;
	top: 0;
	right: 0;
	width: 95%;
	padding: 15px;
	z-index: 100;
}
main > div.contents > section > div.content > h2{
	margin: 0 auto;
	text-align: center;
	font-size:35px;
}
/* Profile */
main > div.contents > section#about{

}
/* Skills */
main > div.contents > section#skills{

}
main > div.contents > section#skills div.threshold{
	display: flex;
	margin: 0 auto;
}
main > div.contents > section#skills div.threshold div{
	width: 30%;
	text-align: center;
	border: 1px dashed #aaaaaa;
	border-radius: 10px;
	margin-right: 10px;
	padding: 10px;
}
main > div.contents > section#skills div.threshold div:last-child{
	margin-right: 0px;
}
main > div.contents > section#skills div.threshold div h3{
	margin-top: 10px;
	margin-bottom: 5px;
}
main > div.contents > section#skills div.threshold div i{
	font-size:400%;
	margin-bottom: 10px;
}
main > div.contents > section#skills div.threshold div p{
	background-color: #77777733;
	border-radius: 5%;
	line-height: 16px;
	font-size: 16px;
	text-align: left;
}
/* Blog */
main > div.contents > section#blogs{

}
main > div.contents > section#blogs .blog{
	display: flex;
	flex-wrap: wrap;
}
main > div.contents > section#blogs .blog > a{
	background-color: #777777;
	width: calc(50% - 20px);
	width: -webkit-calc(50% - 30px);
	padding: 5px;
	margin: 5px;
}
main > div.contents > section#blogs .blog > a >p:nth-of-type(1){
	text-align: center;
	margin: 0 auto;
	font-size: 30px;
}
main > div.contents > section#blogs .blog > a >p:nth-of-type(2){
	font-size: 15px;
}
main > div.contents > section#blogs .blog > a >p:nth-of-type(3){
	font-size: 25px;
}
/* Contact */
input[type="text"], input[type="tel"], input[type="mail"],textarea{
	display: block;
	border: solid 1px #999999;
	border-radius: 8px;
	padding: 5px;
	margin: 0 auto;
	font-size: 16px;
	width: 95%;
	color: #333333;
}
input[type="text"]:focus, input[type="tel"]:focus, input[type="mail"]:focus,textarea:focus{
	border: solid 1px #f44336;
	border-radius: 8px;
	outline: none; /* Chrome の枠線を除去*/
	width: 95%;
}
textarea{
	width: 95%;
	min-width: 95%;
	min-height: 200px;
	max-width: 700px;
	max-height: 800px;
}

input[type="submit"] {
	display: none;
}
input[type="submit"] + label {
	display: block;
	text-align: center;
	line-height: 45px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
    color: #ffffff;
    width: 300px;
    margin: 5px auto;
	height: 45px;
    background-color: #ff3333;
    border: 2px solid #721717;
    border-radius: 10px;
    outline: none;
}
input[type="submit"]:disabled + label {
	display: block;
    color: #777;
    background-color: #9b9b9b8a;
    border: 2px solid #777;
    border-radius: 10px;
    cursor:not-allowed;
}
input[type="submit"]#back + label{
	background-color: #9a9a9a;
	border-color: #595959;
}
/* Slick Slider */
.slider-container{
	width: 90%;
	margin: 0 auto;
}
.slick-button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1000;
}
.slick-prev-button{
	left: -20px;
}
.slick-next-button{
	right: -20px;
}
.slick-button i{
	font-size: 50px;
}
.slick-slide img{
	margin: 0 auto;
}
/* Responsive Design */
@media only screen and (max-width: 900px) {
	body{
		overflow: visible;
	}
	nav{
		position: fixed;
		width: 100%;
		transform: translateY(-100%);
		transition: all 1.0s ease;
    	z-index: 5000;
    }

    nav.active{
	 	transform: translateY(0);
	 }

	nav ul{
		position: relative;
		margin: 0 auto;
	}
	nav ul li{

	}
	.mainvisual{
		position: relative;
		width: 100vw;
	}
	main > div.contents{
		position: absolute;
		width: 100%;
		overflow-y:visible;
	}
}

@media only screen and (max-width: 650px) {
	main > div.contents > section#skills div.threshold{
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
	}
	main > div.contents > section#skills div.threshold div{
		width: 100%;
		text-align: center;
		border: 1px dashed #aaaaaa;
		border-radius: 10px;
		margin: 0;
		margin-bottom: 10px;
		padding: 10px;
	}
	main > div.contents > section#skills div.threshold div:last-child{
		margin-bottom: 10px;
	}
	.slick-slide img{
		
	}
}


.menu{
	position: fixed;
    top: 35px;
    z-index: 9000;
    right: 40px;
    cursor: pointer;
    display: block;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #5b71e6;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}


.menu-trigger::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '';
  width: 84px;
  height: 84px;
  margin: -45px 0 0 -45px;
  border-radius: 50%;
  border: 4px solid transparent;
  transition: all .75s;
}
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
  left: 60%;
  opacity: 0;
  -webkit-animation: active-menu-bar02 .8s forwards;
  animation: active-menu-bar02 .8s forwards;
}
@-webkit-keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}
@keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}
.menu-trigger.active::after {
  -webkit-animation: circle .4s .25s forwards;
  animation: circle .4s .25s forwards;
}
@-webkit-keyframes circle {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0);
  }
  25% {
    border-color: transparent #fff transparent transparent;
  }
  50% {
    border-color: transparent #fff #fff transparent;
  }
  75% {
    border-color: transparent #fff #fff #fff;
  }
  100% {
    border-color: #fff;
    -webkit-transform: rotate(-680deg);
  }
}
@keyframes circle {
  0% {
    border-color: transparent;
    transform: rotate(0);
  }
  25% {
    border-color: transparent #fff transparent transparent;
  }
  50% {
    border-color: transparent #fff #fff transparent;
  }
  75% {
    border-color: transparent #fff #fff #fff;
  }
  100% {
    border-color: #fff;
    transform: rotate(-680deg);
  }

 

}