html{
  width: 100%;
  height: 315px;
  background-color: #FFFFEE;
  background-image: repeating-linear-gradient(45deg,
  #EEEEEE, #EEEEEE 3px,
  transparent 0, transparent 6px);
}


body{
  margin: 35px;
  background-color: #FFFFEE;
}


h1 {
  color: #364e96;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #364e96;/*上線*/
  border-bottom: solid 3px #364e96;/*下線*/
  font-size: 60px;
  text-align: center;
  letter-spacing: 0.8em;
  background-color: #FFFFEE;
  font-family: serif;
  margin-top: 120px;
}

.tel{
  position: relative;
  padding: 0.35em 0.5em;
  color: #393939;
  margin:0 0 0 auto;
  font-size: 18px;
  width: 29%;
  background: #5fb10f;
  background: linear-gradient(#b4da8e, #6bb721 49%, #5fb10f 50%);
  border: 1px solid #5fb10f;
  box-shadow: 1px 2px 7px rgba(0,0,0,0.4);
  color: #FFF;
}

.tel:before {
  content: " ";
  position: absolute;
  top: -16px;
  left: 0;
  width: -webkit-calc(100% - 16px);
  width: calc(100% - 16px);
  height: 0;
  border: solid 8px transparent;
  border-bottom-color: #5fb10f;
  background: linear-gradient(#b4da8e, #6bb721 49%, #5fb10f 50%);
}

img{
  width: 100%;
  height: 400px;
  margin-top: -25px;
}


section > .menu{
  width: 60%;
}

h2 {
  color: #505050;/*文字色*/
  padding: 1.0em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 0.8;/*行高*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
  margin: 80px 50px;
  font-size: 35px;
  width: 35%;
  background: #5fb10f;
  background: linear-gradient(#b4da8e, #6bb721 49%, #5fb10f 50%);
  border: 1px solid #5fb10f;
  box-shadow: 1px 2px 7px rgba(0,0,0,0.4);
  color: #FFF;
  font-family: serif;
  height: 30px;
}

h2:before {
  content: '●';
  color: white;
  margin-right: 8px;
  font-size: 23px;
}

.a{
  padding-left: 4em;
  margin-top: -65px;
  line-height: 40px;
  width: 85%;
  font-size: 20px;
}

.a > p{
  border-bottom: 3px double #364e96;
}

.menu2{
  position: relative;
  margin: 2em 0em;
  padding: -0.5em 1em .5em;
  width: 40%;
  box-shadow: 0 0 10px 10px #badcad; /* 影 */
  width: 25%;
  float: right;
  right: 65px;
  top: -340px;
  background: #5fb10f;
  background: linear-gradient(#b4da8e, #6bb721 49%, #5fb10f 50%);
  border: 1px solid #5fb10f;
  box-shadow: 1px 2px 7px rgba(0,0,0,0.4);
  color: #FFF;
}

h3{   
 padding: 0 .5em;
 font-weight: bold;
 color: #769164; /* タイトル色 */
 border-style: none none solid;
 border-color: #d6e9ca; /*タイトル下線 */
 border-width: 3px;
 font-size: 30px;
 color: #FFF;
 font-family: serif;
}

.menu2 > p{
  padding: .3em;
  border-bottom: 2px dashed #364e96;
  color: #000000;
}

h4{
  padding: 25px 1em;
  margin: 150px auto 50px auto;
  color: #2c2c2f;
  background: #cde4ff;/*背景色*/
  width: 70%;
  text-align: center;
  font-size: 40px;
  background: #5fb10f;
  background: linear-gradient(#b4da8e, #6bb721 49%, #5fb10f 50%);
  border: 1px solid #5fb10f;
  box-shadow: 1px 2px 7px rgba(0,0,0,0.4);
  color: #FFF;
  font-family: serif;
}

.img3{
  width: 100%;
  margin: -240px 0px 0px 0px;
}

.menu3 > p{
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}


nav{
  margin-top: 150px;
  padding: 0em 0em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 155px;
  border: solid 6px #364e96;
  border-radius: 5px;
  width: 95%;
  height: 250px;
  display: flex;
}

.menu4{
  width: 35%;
}

.img2{
  width: 100%;
  height: 100%;
  margin: 0px auto auto auto;
}

.menu5{
  width: 65%;
}

h5{
  margin: 0px;
  height: 20%;
  text-align: center;
  font-size: 35px;
  background: linear-gradient(#b4da8e, #6bb721 49%, #5fb10f 50%);
  border: 1px solid #5fb10f;
  box-shadow: 1px 2px 7px rgba(0,0,0,0.4);
  color: #FFF;
  font-family: serif;
}

.menu5 > div{
  font-size: 55px;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: bold;
  color: #364e96;
  padding: 0;
  white-space: nowrap;
}

.menu5 > li{
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.2em;
  position: relative;
  list-style:none;
  font-weight: bold;
  color: #364e96;
  margin-bottom: 5px;
}

.sam{
  width: 100%;
  display: flex;
}

.sam > p{
  font-size: 16px;
  letter-spacing: initial;
  font-weight: inherit;
  color: inherit;
  width: calc(100% / 2);
  white-space: pre-wrap;
}

.sam1{
  padding: 12px 18px;
  background: #f4f4f4;
  border-left: solid 6px #364e96;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
  width: 290px;
  position: relative;
  text-align: center;
  float: left;
  margin: auto 20px;
}

.sam2{
  padding: 12px 18px;
  background: #f4f4f4;
  border-left: solid 6px #364e96;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
  width: 290px;
  float: right;
  position: relative;
  text-align: center;
  margin: auto 20px;
}

.footer-fixed{
  position: fixed; 
  margin: auto;           /* フッターの固定 */
  bottom: 0px;                /* 位置(上0px) */
  width: 94%;                /* 横幅100%　*/
  height: 100px;              /* 縦幅140px */
  z-index: 100;
  padding: 15px 15px 15px 35px;
  background-color: #F0F8FF; /* ボックス背景色 */
  color: #666; /* 文章色 */
  border: 1px solid #88b5d3; /* ボックス枠線 */
  box-shadow: 0 0 2px 1px #ccc; /* 影 */
  border-radius: 10px; /* 角の丸み */
  left: 15px;
}

.footer-fixed::before {
  position: absolute;
  content: '';
  left: 8px;
  top: 8px;
  width: 17px;
  height : 17px;
  background-color: #fff; /*穴背景色*/
  box-shadow: 0 0 8px #aaa inset; /*穴の影*/
  border: 1px solid #88b5d3; /*パンチ穴枠色*/
  border-radius: 50%;
}

.contents1{
  background-color: white;
  height: 100%;
}

.contents2{
  font-size: 40px;
  letter-spacing: 0.5em;
  white-space: nowrap;
}

.contents3{
  font-size: 25px;
  letter-spacing: 0.5em;
}

.footer2-fixed{
  position: fixed;            /* フッターの固定 */
  top: 0px;                /* 位置(上0px) */
  left: 0px;                  /* 位置(左0px) */
  width: 100%;                /* 横幅100%　*/
  height: 100px;              /* 縦幅140px */
  z-index: 100;
  background-size: 20px 20px;
  background-color: #FF4F02;
  background-image:
  linear-gradient(45deg, rgba(56, 142, 60, 0.5) 25%, transparent 25%,
  transparent 50%, rgba(56, 142, 60, 0.5) 50%, rgba(56, 142, 60, 0.5) 75%,
  transparent 75%, transparent),
  linear-gradient(-45deg, rgba(56, 142, 60, 0.5) 25%, transparent 25%,
  transparent 50%, rgba(56, 142, 60, 0.5) 50%, rgba(56, 142, 60, 0.5) 75%,
  transparent 75%, transparent);
}

.contents4{
  margin: 10px auto;
  width: 99%;
  height: 80px
}

.contents4 > div{
  width: calc(98% / 2);
  height: 50px;
}

.contents5{
  background-color: white;
  position: absolute;
  display: inline-block;
  font-size: 35px;
  text-align: center;
  white-space: nowrap;
  margin-top: 14px;
  font-weight: bold;
}

.contents5:before, .contents5:after {
  content: '';
  display: inline-block;
  width: 45px;
  height: 8px;
  border-top: solid 4px black;
  border-bottom: solid 4px black;
  margin-bottom: 4px;
}

.contents5:before {
  left:0;
}
.contents5:after {
  right: 0;
}

.contents6{
  background-color: white;
  float: right;
  position: relative;
  padding: 13px 1px 7px;
  border: solid 5px #FFC107;
}

.contents6 .contents6-1 {
  position: absolute;
  display: inline-block;
  top: -2px;
  left: -2px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #FFC107;
  color: #ffffff;
  font-weight: bold;
}

.contents6 p {
  margin: 13px; 
  padding: 0;
}
