body{
  margin: 35px;
}

.header1{
  width: 100%;
  margin-top: -10px;
  display: flex;
}

h1 {
  color: #5fb10f;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #5fb10f;/*上線*/
  border-bottom: solid 3px #5fb10f;/*下線*/
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.8em;
  background-color: #FFFFEE;
  font-family: serif;
  margin-top: 15px;
  width: 70%;
}

.header1 >p{
  position: relative;
  color: #393939;
  top: 51px;
  padding-right: 0px;
  right: 0;
  font-size: 18px;
  width: 30%;
  background: #5fb10f;
  background: linear-gradient(#b4da8e, #6bb721 49%, #5fb10f 50%);
  border: 1px solid #5fb10f;
  box-shadow: 1px 2px 7px rgba(0,0,0,0.4);
  color: #FFF;
  height: 80%;
}

.header1 >p:before {
  content: " ";
  position: absolute;
  top: -16px;
  left: 0;
  width: -webkit-calc(100% - 16px);
  width: calc(100% - 16px);
  height: 0;
  border: solid 8px transparent;
  border-bottom-color: #5fb10f;
  background: linear-gradient(#b4da8e, #6bb721 49%, #5fb10f 50%);
}

.img5{
  position: relative;
  margin-top: -10px;
}

.img6{
  width: 100%;
  height: 500px;
  filter: blur(1px);
}

.img11{
  display: flex;
  text-align: center;
  font-size: 18px;
  position: absolute;
  height: 230px;
  width: 100%;
  justify-content: space-around;
  bottom: 0;
  left: 0;
}

.img11 > div{
  border-radius: 50%;
  overflow: hidden;
  width: 210px;
  height: 210px;
  position: relative;
  border: solid 5px #008800;
}

.img11 > div > img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(1px);
}

.img11 > div > p{
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 31%;
  color: white;
  text-shadow: 0px 5px black, 0 0px 5px black;
  font-size: 23px;
  background-color: white;
}

.img10{
  text-align: center;
  font-size: 55px;
  white-space: nowrap;
  color: #5fb10f;
  text-shadow: 1px 1px 0 white,
               -1px 1px 0 white,
               1px -1px 0 white,
               -1px -1px 0 white;
  position: absolute;
  letter-spacing: 0.3em;
  line-height: 25px;
  width: 100%;
  height: 60%;
  top: -20px;
}

.p10{
  font-size: 70px;
  color: #FFFF00;
}


section{
  margin-top: 140px;
}

section > .menu{
  width: 100%;
  display: flex;
}

.menu2 >h2 {
  position: absolute;
    display: inline-block;
    top: -16px;
    left: 0px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #5fb10f;
    color: white;
    font-weight: bold;
    width: 98%;
    height: 50px;
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
}


.menu2 >h3{
  color: red;
  margin-top: 50px;
}

.menu2{
  padding-left: 4em;
  padding-top: 100px;
  line-height: 40px;
  width: calc(100% / 2);
  font-size: 20px;
  margin-top: 0px;
  position: relative;
    padding: 0.5em 1em;
    border: solid 10px #5fb10f;
    border-radius: 8px;
}

.menu2 >p{
  border-bottom: 3px double #364e96;
  margin-top: 90px;
}

.img12{
  right: 0;
  width: 40%;
  padding-left: 30px;
}

.menu20{
  width: 100%;
  height: 600px;
  margin: 160px auto;
}

.menu21{
  margin: 25px auto;
  height: 10px;
  position: relative;
  background: #5fb10f;
  box-shadow: 0px 0px 0px 5px #5fb10f;
  border: dashed 2px white;
  padding: 0em  0em 1.2em 0.5em;
  color: white;
  font-size: 40px;
  width: 350px;
}

.menu21:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #5fb10f;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.menu27{
  display: flex;
  left: 0;
  width: 100%;
  margin: auto;
  height: 270px;
  justify-content: space-between;
}

.menu22{
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  left: 10%;
}

.img50{
  background: #66FF66;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: solid 5px #008800;
  margin: -100px; 
}

.menu22 >div{
 margin: 115px -110px;
  background: #5fb10f;
  font-size: 25px;
  text-align: center;
  width: 180px;
  white-space: nowrap;
  color: white;
}

.menu23{
  flex-direction: row;
  justify-content: space-evenly;
  width: calc(120px / 3);
  left: 0%;
}

.img51{
  background: #66FF66;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  margin: -100px;
  border: solid 5px #008800;
}

.menu23 >div{
 margin: 115px -82px;
 width: 120px;
  background: #5fb10f;
  font-size: 25px;
  text-align: center;
  color: white;
}

.menu24{
  flex-direction: row;
  justify-content: space-evenly;
  width: calc(120px / 3);
  left: -10%;
}

.img52{
  background: #66FF66;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  margin: -100px;
  border: solid 5px #008800;
}

.menu24 >div{
 margin: 115px -82px;
 width: 120px;
  background: #5fb10f;
  font-size: 25px;
  text-align: center;
  color: white;
}

.menu25{
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  left: 39%;
}

.img53{
  background: #66FF66;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin: -100px;
  border: solid 5px #008800;
}

.menu28{
    position: relative;
    display: flex;
  left: 0;
  width: 100%;
  margin: auto;
  height: 470px;
  top: 60px;
}

.menu25 >div{
 margin: 115px -130px;
 width: 200px;
  background: #5fb10f;
  font-size: 25px;
  text-align: center;
  color: white;
  white-space: nowrap;
  padding: 1px 20px 1px 20px;
  line-height: 30px;
}

.menu26{
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  left: 71%;
}

.img54{
  background: #66FF66;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin: -100px;
  border: solid 5px #008800;
}

.menu26 >div{
 margin: 115px -115px;
 width: 200px;
  background: #5fb10f;
  font-size: 25px;
  text-align: center;
  color: white;
  line-height: 30px;
  white-space: nowrap;
  padding: 1px 10px 1px 10px;
}

.p1{
  width: 0;
  height: 0;
  border-left: 30px solid black;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
  top: 35%;
  left: -80%;
  transform: translateY(-50%);
}

.p2{
  width: 0;
  height: 0;
  border-left: 30px solid black;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
  top: 35%;
  left: -80%;
  transform: translateY(-50%);
}

.p3{
  width: 0;
  height: 0;
  border-left: 30px solid black;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
  top: 6%;
  left: 18%;
  transform: translateY(-50%);
}

.p4{
  width: 0;
  height: 0;
  border-left: 30px solid black;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
  top: 6%;
  left: 53%;
  transform: translateY(-50%);
}

.menu3{
  margin: auto;
  width: 70%;
}

h4{
  padding: 15px;
  margin: auto;
  color: #2c2c2f;
  width: 100%;
  text-align: center;
  font-size: 40px;
  background: #5fb10f;
  background: linear-gradient(#b4da8e, #6bb721 49%, #5fb10f 50%);
  border: 1px solid #5fb10f;
  box-shadow: 1px 2px 7px rgba(0,0,0,0.4);
  color: #FFF;
  font-family: serif;
}

.submenu{
  display: flex;
  margin-top: 50px;
}

.img23{
  width: 40%;
  height: 300px;
  margin: 0px;
  padding: 0px;

}

.submenu > p{
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}


nav{
  margin-top: 150px;
  padding: 0em 0em 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
  border: solid 6px #364e96;
  border-radius: 5px;
  width: 95%;
  height: 250px;
  position: relative;
}

.menu4{
  width: 35%;
  height: 288px;
}

.img2{
  width: 100%;
  height: 81%;
  margin: 0px auto auto auto;
}

.menu5{
  width: 65%;
  height: 233px;
  position: relative;

}

h5{
  margin: 0px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  background: linear-gradient(#b4da8e, #6bb721 49%, #5fb10f 50%);
  border: 1px solid #5fb10f;
  box-shadow: 1px 2px 7px rgba(0,0,0,0.4);
  color: #FFF;
  font-family: serif;
  letter-spacing: 11px;
  position: relative;
}

.menu5 > div{
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: bold;
  color: #364e96;
  padding: 0;
  white-space: nowrap;
  position: relative;
  height: 80px;
  margin-top: 15px;
}

.menu5 > li{
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.2em;
  position: relative;
  list-style:none;
  font-weight: bold;
  color: #364e96;
  height: 51px;
  margin-top: 30px;
}


.footer-fixed{
  position: fixed; 
  margin: auto;           /* フッターの固定 */
  bottom: 0px;                /* 位置(上0px) */
  width: 94%;                /* 横幅100%　*/
  height: 70px;              /* 縦幅140px */
  z-index: 100;
  padding: 10px 15px 10px 35px;
  background-color: #99FF66; /* ボックス背景色 */
  color: #666; /* 文章色 */
  border: 1px solid #88b5d3; /* ボックス枠線 */
  box-shadow: 0 0 2px 1px #ccc; /* 影 */
  border-radius: 10px; /* 角の丸み */
  left: 15px;
}

.footer-fixed::before {
  position: absolute;
  content: '';
  left: 8px;
  top: 8px;
  width: 17px;
  height : 17px;
  background-color: #99FF99; /*穴背景色*/
  box-shadow: 0 0 8px #aaa inset; /*穴の影*/
  border: 1px solid #88b5d3; /*パンチ穴枠色*/
  border-radius: 50%;
}

.contents1{
  background-color: white;
  height: 100%;
  border-radius: 10px;
}

.contents2{
  font-size: 30px;
  letter-spacing: 0.5em;
  white-space: nowrap;
  margin: 0px 40px;
}

.contents3{
  font-size: 20px;
  letter-spacing: 0.5em;
  margin: 0px 40px;
}

.menu27 > div{
  margin: 0;
  padding: 0;
  position: relative;
  width: calc(40% / 3);
  margin-right: 5px;
}

.menu27 > div > div{
  margin: 0;
  padding: 0;
  width: 100%;
}
.menu27 > div > img{
  margin: 0;
}

.menu27 > div > div > div{
 
}

.submenu3{
  display: flex;
}

.submenu2{
  display: flex;
  position: absolute;
  background: linear-gradient(#b4da8e, #6bb721 49%, #5fb10f 50%);
  border: 1px solid #5fb10f;
  box-shadow: 1px 2px 7px rgba(0,0,0,0.4);
  bottom: 0;
  width: 100%;
  color: white;
  height: 55px;
  letter-spacing: 8px;
}

.submenu2 > p{
  text-align: center;
  margin: auto;
  font-size: 16px;
}